<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Branch Locater.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>334BEEE41E8FD3FB000C0CC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>334BEEF81E8FD3FB000C0CC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>334BEF031E8FD3FB000C0CC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
